@font-face {
    font-family: Hanken Grotesk;
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

:root {
    --clr-white: #ffffff;
    --clr-pale-blue: #ebf1ff;
    --clr-light-lavender: #c8c7ff;
    --clr-slate-gray: #303b5a;
    --clr-bg-slate-blue: #7857ff;
    --clr-bg-royal-blue: #2e2be9;
    --clr-violet-blue: #4e21ca;
    --clr-persian-blue: #2421ca00;
    --clr-light-red: #ff5757;
    --clr-orange-yellow: #ffb01f;
    --clr-green-teal: #00bd91;
    --clr-cobalt-blue: #1125d4;
    --clr-light-red-transparent: rgba(255, 87, 87, 0.157);
    --clr-orange-yellow-transparent: rgba(255, 177, 31, 0.157);
    --clr-green-teal-transparent: rgba(0, 189, 145, 0.157);
    --clr-cobalt-blue-transparent: rgba(17, 36, 212, 0.157);
}

p {
    font-size: 17px;
}

* {
    font-family: Hanken Grotesk;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--clr-pale-blue);
}

.container {
    width: 64.063rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    /* border: 2px solid red */
}

.left-box {
    background-image: linear-gradient(var(--clr-bg-slate-blue), var(--clr-violet-blue), var(--clr-bg-royal-blue) 120%);
    width: 20em;
    height: 24em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5em;
    padding: 1.4em;
    border-radius: 2em;
}

.circle {
    background-image: linear-gradient(var(--clr-bg-slate-blue), var(--clr-violet-blue));
    border-radius: 100%;
    width: 10em;
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.result {
    font-weight: 800;
    color: var(--clr-light-lavender);
    font-size: 1.5em;
}

.rating {
    color: var(--clr-white);
    font-size: 4em;
    font-weight: 600;
}

.max-rating {
    color: var(--clr-light-lavender);
    font-weight: 600;
}

.text-great {
    font-weight: 800;
    color: var(--clr-white);
}

.msg {
    color: var(--clr-light-lavender);
    font-weight: 600;
    max-width: 25ch;
    font-size: 16px;
}

/* left-side end */

main {
    display: flex;
    gap: 1em;
}

/* right-side */
.right-box {
    background-color: var(--clr-white);
}

.wrapper {
    display: flex;
}

.wrapper1 {
    background-color: var(--clr-light-red-transparent);
}

.wrapper2 {
    background-color: var(--clr-orange-yellow-transparent);
}

.wrapper3 {
    background-color: var(--clr-green-teal-transparent);
}

.wrapper4 {
    background-color: var(--clr-cobalt-blue-transparent);
}



/* MEDIA QUERIES START */

/* xs */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}


/* sm */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}


/* md */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}


/* lg */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .section {
        margin-top: 5rem;
    }

}


/* xl */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}


/* 2xl */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}